.store__line {
  margin-bottom: 5rem;
}

.store__font {
  color: #a6a6a6;
  margin-top: 2rem;
  margin-left: 2rem;
}
.store__category {
  color: #a6a6a6;
  text-align: center;
  margin-top: 3rem;
}
.store__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 60vw;
  margin: auto;
}

.store__container > * {
  flex: 1 1 25%;
}

.store__box {
  width: 300px;
  height: 400px;
  position: relative;
  border: 2px #deae03 solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.store__image {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0.3;
  transition: 3s linear;
}

.store__image:hover {
  transform: scale(1.5);
  opacity: 1;
}

.store__text {
  color: rgb(240, 239, 239);
  z-index: -1;
}
