.product__product {
  box-sizing: border-box;
  height: 30rem;
  width: 20rem;
  background-color: rgb(31, 29, 29);
  border-radius: 10px;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(214, 212, 212);
  transition: transform 0.5s ease-in-out;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 15px #0f0f0f;
}
.product__product:hover {
  transform: scale(1.05);
}

.product__image {
  box-sizing: border-box;
  height: 15rem;
  width: 15rem;
  background-color: #3f3c3c;
  padding: 1rem 0.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product__title {
  padding: 2px;
  background-color: #111010;
  width: 15rem;
  text-align: center;
  margin-bottom: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.product__size {
  margin-bottom: 0.3rem;
}

.product__details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
  background-color: #161313;
  padding: 0.5rem;
  border-radius: 15px;
  width: 10rem;
}

.product__details > li {
  list-style: none;
  margin-right: 10px;
  padding: 2px;
  width: 23px;
  text-align: center;
  cursor: pointer;
  transition: 0.1s linear;
  border-radius: 40%;
}
.product__details > li:hover {
  background-color: #deae03;
  color: #161313;
  border-radius: 50%;
}

.product__button {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #deae03;
  border: none;
  font-weight: bold;
  border-radius: 30px;
  transition: transform 0.3s;
  width: 5rem;
}
.product__button:hover {
  transform: scale(1.1);
}
