.signup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.signup__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
}
.signup__logo {
  height: 5rem;
}
.signup__form {
  padding: 1rem 5rem;
}
.signup__label {
  color: #e0e0e0;
  font-weight: lighter;
  font-size: 15px;
  padding-left: 1rem;
}
.signup__input {
  background-color: #353131;
  border: 1px #dbde39 solid;
  width: 250px;
  outline: none;
  color: #e0e0e0;
  margin: 1rem;
}

.signup__input:focus {
  border: 1px #deae03 solid;
  background-color: #181818;
}
.signup__login {
  margin-top: 2rem;
  margin-left: 5rem;
  padding: 1rem;
  width: 8rem;
  border-radius: 10px;
  border: none;
  background-color: #deae03;
  font-weight: bolder;
  cursor: pointer;
}
.signup__close {
  background: none;
  border: none;
  color: #e0e0e0;
  font-size: 1rem;
  padding: 0.3rem;
  margin-left: auto;
  cursor: pointer;
}
