.nav__containerlist {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}

.nav__gender {
  display: flex;
}
.nav__gender > li {
  margin-right: 0.2rem;
  list-style: none;
  color: #dddada;
  cursor: pointer;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__li {
  border-right: 1px solid #dddada;
  padding-right: 0.5rem;
}
.nav__litwo {
  border-left: 1px solid #dddada;
  padding-left: 0.5rem;
}

.nav__gender > li:hover {
  font-weight: bolder;
  color: rgb(214, 172, 35);
}

.nav__option {
  display: flex;
  margin-right: 3rem;
}
.li {
  color: #dddada;
  text-decoration: none;
  margin-right: 3px;
}

.nav__option li {
  margin-right: 1rem;
  list-style: none;
  color: #dddada;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.nav__option > li:nth-child(1) {
  margin-right: 3rem;
}

.nav__option > li::before {
  content: "";
  position: absolute;
  top: 60%;
  left: -100%;
  height: 10%;
  width: 100%;
  background-color: rgb(214, 172, 35);
  transition: 0.5s;
}
.nav__option > li:hover::before {
  left: 0;
}
